body {
    color: #a8b6c4;
    background-color: #2B2B2B;
}

.removeColorLinkWithImage {
    color: #2B2B2B;
}

pre {
    background-color: #3C3D3E;
}

blockquote {
    background-color: #3C3D3E;
    border-left-color: #476387;
}

code {
    background-color: #3C3D3E;
}

td, th{
    border-color: #515151;
}