body {
    color: #000000;
    background-color: #FFFFFF;
}

.removeColorLinkWithImage {
    color: #FFFFFF;
}

pre {
    background-color: #F5F7F9;
}

blockquote {
    background-color: #F5F7F9;
    border-left-color: #666666;
}

code {
    background-color: #F5F7F9;
}

td, th{
    border-color: #000000;
}