body {
    color: #a8b6c4;
    background-color: #FFFFFF;
}

.removeColorLinkWithImage {
    color: #FFFFFF;
}

pre {
    background-color: #F5F7F9;
}

blockquote {
    background-color: #F5F7F9;
    border-left-color: #a1c1dd;
}

code {
    background-color: #F5F7F9;
}

td, th{
    border-color: #d1d1d1;
}